
@{
    ViewBag.Title = "Announcements";
}

<h2>Announcements</h2>
<div class="addNew">
    @Html.ActionLink("Add New Announcements", "Create", "Announcements")
</div>

<div>
    @Html.Partial("_AnnouncementList")
    
</div>
