
@{
    ViewBag.Title = "Announcements";
}

<h2>Announcements</h2>

<div>
    Member Name :@Model.AnnouncementName <br />
    Member Name :@Model.AnnouncementDescription <br />
    Member Name :@Model.AnnouncementAuthor <br />
   
</div>
@Html.ActionLink("Add New Announcement", "AddAnnouncement")